# Byte-compiled
*.pyc
*.pyo
*.tar.gz

# Distribution and deployment
*.egg-info/
*.egg
.eggs
.tox
dist

# Ignore environment files
.env*
.python-version

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
